@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Kanit&family=Petrona:wght@200&family=Shadows+Into+Light&display=swap');
/* Google Font
    font-family: 'IM Fell English', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Petrona', serif;
    font-family: 'Shadows Into Light', cursive;
 */

.App {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
}

.App-logo {
  color: #FFFF00;
  background-color: rgba(56, 53, 53, 0.363);
  border-radius: 20px;
  margin: 5px;
  padding: 8px;
}


.App-header {
  background-color: #ee1515f6;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 10vmin);
  box-shadow: black 0 5px 5px;
}

